### Pandas Conceptual Questions - Data Engineer, Data Science, AI/MLE

In [4]:
import pandas as pd
import numpy as np

Sample Data

In [19]:
df = pd.DataFrame()
df['customer_id'] = np.arange(1, 10)
df['order_id'] = np.arange(200, 200 + len(df['customer_id']))

df.head(10)

   customer_id  order_id
0            1       200
1            2       201
2            3       202
3            4       203
4            5       204
5            6       205
6            7       206
7            8       207
8            9       208

1. What is a `DataFrame` and a `Series`? What is the difference between the two?

A `Series` is a 1D array that holds any data type. This is simliar to a singular column in a SQL table

A `DataFrame` is a 2D collection of multiple `Series` combined together. It is like a spreadsheet or a singular SQL table.